<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<h3>Add Vehicle</h3>
<form method="post" class="form-horizontal" role="form">
	<div class="col-6 mb-3">
		<label for='make' class='form-label'>Manufacturer</label>
        <input type="text" name="make" class="form-control" placeholder="Ford">
        <div class="form-text">Enter your car's manufacturer</div>
	</div>
    <div class="col-6 mb-3">
		<label for="model" class='form-label'>Model</label>
        <input type="text" name='model' class="form-control" placeholder="Fiesta">
        <div class="form-text">Enter your car's model</div>
	</div>
    <div class="col-6 mb-3">
		<label for="variant" class="form-label">Variant</label>
        <input type="text" name="variant" class="form-control" placeholder="Titanium">
        <div class="form-text">Enter your car's variant</div>
	</div>
    <div class="col-6 mb-3">
		<label for="imageUrl" class='form-label'>Image URL</label>
        <input type="text" name='imageUrl' class="form-control" placeholder="/img/car.png">
        <div class="form-text">Optional: Enter an absolute or relative URL. Preferably a transparent PNG or WEBP format.</div>
	</div>
	<div class="col-6 mb-3">
		<label for="registrationNumber" class="form-label">Registration Number</label>
        <input type="text" name="registrationNumber" class="form-control" placeholder="C4R 123" style="text-transform:uppercase;">
        <div class="form-text">Optional: Enter your car's registration number</div>
	</div>
	<div class="col-6 mb-3">
		<label for="vin" class="form-label">VIN</label>
        <input type="text" name="vin" class="form-control">
        <div class="form-text">Optional: Enter your vehicle's VIN</div>
	</div>
	<div class="col-6 mb-3">
		<label for="purchasePrice" class="form-label">Purchase Price</label>
        <div class="input-group">
            <div class="input-group-text">&pound;</div>
            <input type="number" name="purchasePrice" class="form-control" placeholder="5000">
        </div>
        <div class="form-text">Optional: The cost of your vehicle when you bought it</div>
	</div>
	<div class="col-6 mb-3">
		<label for="purchaseOdometer" class="form-label">Odometer on Purchase</label>
        <input type="number" name="purchaseOdometer" class="form-control" placeholder="0">
        <div class="form-text">Optional: Entering this helps calculate an average monthly mileage figure</div>
	</div>
    <div class="col-6 mb-3">
		<label for="dateAcquired" class="form-label">Purchase Date</label>
        <input type="date" name="dateAcquired" class="form-control" pattern="\d{4}-\d{2}-\d{2}">
        <div class="form-text">Optional: Entering this helps calculate an average monthly mileage figure</div>
	</div>
	<div class="col-6 mb-3">
		<label for="motDate" class="form-label">MOT Date</label>
        <input type="date" name="motDate" class="form-control" pattern="\d{4}-\d{2}-\d{2}">
        <div class="form-text">Optional: Keep track of your MOT date</div>
	</div>
	<div class="col-6 mb-3">
		<label for="serviceDate" class="form-label">Service Date</label>
        <input type="date" name="serviceDate" class="form-control" pattern="\d{4}-\d{2}-\d{2}">
        <div class="form-text">Optional: Keep track of your service date</div>
	</div>
	<div class="col-6 mb-3">
		<label for="taxDate" class="form-label">Tax Date</label>
        <input type="date" name="taxDate" class="form-control" pattern="\d{4}-\d{2}-\d{2}">
        <div class="form-text">Optional: Keep track of your tax date</div>
	</div>
	<input type="submit" value="Add Vehicle &raquo;" class="btn btn-primary">
</form>
