<h3>Add Rate</h3>
<div class="col-8">
    <p>Add your single fixed rate or a variable rate to an existing tariff.</p>
</div>
<form method="post" class="form-horizontal" role="form">
    <input type="hidden" name="supplier_id" value="<%= supplier_id %>">
    <div class="col-6 mb-3">
        <label for="rate_type" class="form-label">Rate Type</label>
        <select name="rate_type" class="form-select">
            <option value="fixed">Fixed</option>
            <option value="off-peak">Off-Peak</option>
            <option value="peak">Peak</option>
        </select>
    </div>
    <div class="col-6 mb-3">
        <label for="cost" class="form-label">Cost</label>
        <div class="input-group">
            <input type="number" name="cost" class="form-control" pattern="^\d+(?:\.\d{1,2})?$" step="0.01">
            <div class="input-group-text">pence / kWh</div>
        </div>
        <div class="form-text">Enter the rate cost in pence per kWh</div>
    </div>
    <div class="col-6 mb-3">
        <label for="start_time" class="form-label">Start Time</label>
        <input type="text" name="start_time" class="form-control" placeholder="hh:mm">
        <div class="form-text">Leave blank if you are on a fixed rate</div>
    </div>
    <div class="col-6 mb-3">
        <label for="end_time" class="form-label">End Time</label>
        <input type="text" name="end_time" class="form-control" placeholder="hh:mm">
        <div class="form-text">Leave blank if you are on a fixed rate</div>
    </div>
	<input type="submit" value="Add rate &raquo;" class="btn btn-primary">
</form>
