<h1 class="h3 mb-1 text-gray-800">Admin</h1>
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4 py-3 border-left-primary">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-bolt-lightning"></i> Electricity</h5>
                <p class="card-text">View and add your electricity tariff details.</p>
                <a href="/admin/energy/list-tariffs" class="btn btn-primary">List tariffs</a>
                <a href="/admin/energy/list-apis" class="btn btn-primary">List APIs</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-4 py-3 border-left-success">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-plug"></i> Entities</h5>
                <p class="card-text">View and add details for data sources, such as web APIs and smart devices.</p>
                <a href="/admin/list-entities" class="btn btn-primary">List Entities</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-4 py-3 border-left-info">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-car"></i> Cars</h5>
                <p class="card-text">Add details for vehicles you own.</p>
                <a href="/admin/list-vehicles" class="btn btn-primary">List vehicles</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4 py-3 border-left-primary">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-cloud"></i> Data Sources</h5>
                <p>Set up data sources</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-4 py-3 border-left-primary">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-cogs"></i> Features</h5>
                <p>Turn on and off features in HomeAnalytics based on your home setup</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-4 py-3 border-left-primary">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-code"></i> Scripts</h5>
                <p>Scripts behind plugins/features</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4 py-3 border-left-primary">
            <div class="card-body">
                <h5 class="card-title"><span class="material-icons">engineering</span> Debug</h5>
                <code>
                    <p>Local Time: <%= envDate %></p>
                    <p>App Env: <%= appEnv %></p>
                    <p>DB File: <%= envDb %></p>
                </code>
            </div>
        </div>
    </div>
</div>
