
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span><a class="link-secondary text-decoration-none" href="/pi">
                <i class="fas fa-tv"></i>
                Pi Display
            </a></span>
        </div>
    </div>
</footer>
<!-- End of Footer -->