<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-6 col-md" style="padding-left:50px">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1">
                    <a class="link-secondary text-decoration-none" href="/pi">
                        Pi Display
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md"></div>
        <div class="col-6 col-md"></div>
        <div class="col-6 col-md"></div>
    </div>
</footer>
