<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4 ms-5">
                <img src="/img/logo.png" alt="homeAnalytics" title="homeAnalytics">
            </span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/energy/">
                <span class="material-icons">bolt</span>
                Energy
            </a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/garage/">
                <span class="material-icons">garage</span>
                Garage
            </a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/admin/">
                <span class="material-icons">settings</span>
                Admin
            </a>
        </nav>
    </div>
</header>