<nav class="navbar navbar-expand-lg bg-white pb-2 border-bottom">
    <div class="container-fluid">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span id="logo">home<span class="logoA">Analyt</span><i class="fas fa-bolt-lightning bolt"></i><span
                    class="logoA">cs</span></span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/energy/">
                        <i class="fas fa-bolt-lightning"></i>
                        Energy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/heating/">
                        <i class="fas fa-sun"></i>
                        Heating
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/garage/">
                        <i class="fas fa-car"></i>
                        Garage
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/devices/">
                        <i class="fas fa-plug"></i>
                        Devices
                    </a>
                </li>
                <!--li class="nav-item">
                    <a class="nav-link text-dark" href="/weather/">
                        <i class="fas fa-cloud-sun-rain"></i>
                        Weather
                    </a>
                </li-->
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/admin/">
                        <i class="fas fa-gears"></i>
                        Admin
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>