<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-2 mb-3 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span id="logo">home<span class="logoA">Analyt</span><i class="fas fa-bolt-lightning bolt"></i><span class="logoA">cs</span></span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/energy/">
                <i class="fas fa-bolt-lightning"></i>
                Energy
            </a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/heating/">
                <i class="fas fa-sun"></i>
                Heating
            </a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/garage/">
                <i class="fas fa-car"></i>
                Garage
            </a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/devices/">
                <i class="fas fa-plug"></i>
                Devices
            </a>
            <!--a class="me-3 py-2 text-dark text-decoration-none" href="/weather/">
                <i class="fas fa-cloud-sun-rain"></i>
                Weather
            </a-->
            <a class="me-3 py-2 text-dark text-decoration-none" href="/admin/">
                <i class="fas fa-gears"></i>
                Admin
            </a>
        </nav>
    </div>
</header>