<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-house"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Home <sup>Analytics</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Energy
    </div>
    <li class="nav-item">
        <a class="nav-link" href="/energy/">
            <i class="fas fa-fw fa-bolt-lightning"></i>
            <span>Energy Usage</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/solar/">
            <i class="fas fa-fw fa-sun"></i>
            <span>Solar</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/heating/">
            <i class="fas fa-fw fa-temperature-half"></i>
            <span>Heating</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Cars
    </div>
    <li class="nav-item">
        <a class="nav-link" href="/garage/">
            <i class="fas fa-fw fa-car"></i>
            <span>Garage</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Smart Home
    </div>
    <li class="nav-item">
        <a class="nav-link" href="/devices/">
            <i class="fas fa-fw fa-plug"></i>
            <span>Devices</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/">
            <i class="fas fa-fw fa-gears"></i>
            <span>Admin</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->