<div class="carousel-item" data-bs-interval="10000">
    <div class="row">
        <div class="col-md-7">
            <h1>Today so far</h1>
            <figure class="highcharts-figure" style="width:450px;height:350px;">
                <div id="container-kwh" class="chart-container"></div>
            </figure>
        </div>
        <div class="col-md-5">
            <div class="todayCostBig text-center w-100 h-100 d-inline-block"></div>
        </div>
    </div>
</div>
<script>
    function loadTodayUsagev2(date1, date2) {
        $.ajax({
            url: '/api/usage/sum',
            type: "GET",
            dataType: "json",
            data: {
                start: date1,
                end: date1
            },
            success: function(res) {
                let kwh = Number(res["totals"]["kwh"].toFixed(1));
                let cost = res["totals"]["cost"];
                $('.todayCostBig').html(`<span class="align-middle">£${cost.toFixed(2)}</span>`);

                let gaugeOptions = {
                    chart: {
                        type: 'solidgauge',
                        backgroundColor: 'black',
                    },
                    title: null,
                    pane: {
                        center: ['50%', '85%'],
                        size: '115%',
                        startAngle: -90,
                        endAngle: 90,
                        background: {
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                            innerRadius: '60%',
                            outerRadius: '100%',
                            shape: 'arc'
                        }
                    },
                    tooltip: {
                        enabled: false
                    },
                    yAxis: {
                        stops: [
                            [0.1, '#55BF3B'], // green
                            [0.5, '#DDDF0D'], // yellow
                            [0.7, '#DF5353'] // red
                        ],
                        lineWidth: 0,
                        tickWidth: 0,
                        minorTickInterval: null,
                        tickAmount: 2,
                        title: {
                            y: -90
                        },
                        labels: {
                            y: 16
                        }
                    },
                    plotOptions: {
                        solidgauge: {
                            dataLabels: {
                                y: 5,
                                borderWidth: 0,
                                useHTML: true
                            }
                        }
                    },
                };
                let chartKwh = Highcharts.chart('container-kwh', Highcharts.merge(gaugeOptions, {
                    yAxis: {
                        min: 0,
                        max: 25,
                        title: {
                            text: ''
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'kWh',
                        data: [kwh],
                        dataLabels: {
                            y: -110,
                            format:
                                '<div style="text-align:center">' +
                                '<span style="font-size:70px">{y}</span><br/>' +
                                '<span style="font-size:30px;opacity:0.8">kWh</span>' +
                                '</div>',
                        },
                        tooltip: {
                            valueSuffix: ' kWh'
                        }
                    }]
                }));
            },
            error: function(xhr) {
                console.log(xhr);
            },
            cache: false
        });
    }
    $(document).ready(function() {
        loadTodayUsagev2('<%= dates["today"] %>');
    });
</script>