<div class="carousel-item active" data-bs-interval="10000">
    <div class="row">
        <div class="col-md-8">
            <h1>Today so far</h1>
            <div style="height: 400px" id="todayUsage"></div>
        </div>
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-dark usage-table">
                    <thead>
                        <tr>
                            <th>Cost</th>
                            <th style="text-align:right" id="today-cost-total"></th>
                        </tr>
                    </thead>
                    <tbody id="today-cost"></tbody>
                    <thead>
                        <tr>
                            <th>kWh</th>
                            <th style="text-align:right" id="today-kwh-total"></th>
                        </tr>
                    </thead>
                    <tbody id="today-kwh"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $.ajax({
            url: "/api/usage/by-rate",
            data: {
                start: '<%= dates["today"] %>',
                end: '<%= dates["today"] %>'
            },
            method: "GET",
            success: function (res) {
                for (let r of res.rates) {
                    $('#today-kwh').append('<tr class="pi-data-row">><td>'
                        + r.rate_type[0].toUpperCase() + r.rate_type.substring(1) +
                        '</td><td align="right">' + r.total_kwh.toFixed(2) + '</td></tr>');
                    $('#today-cost').append('<tr class="pi-data-row">><td>'
                        + r.rate_type[0].toUpperCase() + r.rate_type.substring(1) +
                        '</td><td align="right">£' + r.total_cost.toFixed(2) + '</td></tr>');
                }
                $('#today-kwh-total').html(res.totals.kwh.toFixed(2));
                $('#today-cost-total').html("£" + res.totals.cost.toFixed(2));
            }
        });

        function loadTodayUsage(date1, date2) {
            $.ajax({
                url: '/api/usage/hourly/compare',
                type: "GET",
                data : {
                    date1: date1,
                    date2: date2,
                },
                dataType: "json",
                success: function(res) {
                    let d1 = [];
                    let d2 = [];
                    for (let row of res.data) {
                        d1.push(row.kwh_yd);
                        d2.push(row.kwh_td);
                    }

                    let todayUsage = Highcharts.chart({
                        chart: {
                            renderTo: 'todayUsage',
                            type: 'column',
                            backgroundColor: 'black',
                            plotBorderWidth: 0,
                            plotShadow: false,
                        },
                        credits: false,
                        title: {
                            text: "",
                        },
                        plotOptions: {
                            column: {
                                pointPadding: 0.1,
                                borderWidth: 0
                            }
                        },
                        legend: {
                            itemStyle: {
                                color: 'white',
                                fontWeight: 'normal',
                                fontSize: '14px',
                                align: 'right'
                            }
                        },
                        xAxis : {
                            title: {
                                text: "Hour",
                                style: {
                                    color: "white"
                                }
                            },
                            labels: {
                                style: {
                                    color: "white",
                                }
                            }
                        },
                        yAxis : {
                            title: {
                                text: "kWh",
                                style: {
                                    color: "white"
                                }
                            },
                            labels: {
                                style: {
                                    color: "white",
                                }
                            },
                            gridLineWidth: 0,
                        },
                        series: [
                            {name: "Yesterday", data: d1},
                            {name: "Today", data: d2}
                        ],
                    });
                },
                error: function(xhr) {
                    console.log(xhr);
                },
                cache: false
            });
        }
        loadTodayUsage('<%= dates["yday"] %>', '<%= dates["today"] %>');
    });
</script>