<div class="carousel-item" data-bs-interval="10000">
    <div class="row">
        <div class="col-md-7">
            <h1>Today so far</h1>
            <figure class="highcharts-figure" style="width:450px;height:350px;">
                <div id="container-kwh" class="chart-container"></div>
            </figure>
        </div>
        <div class="col-md-5">
            <div class="todayCostBig text-center w-100 h-100 d-inline-block"></div>
        </div>
    </div>
</div>