<div class="carousel-item" data-bs-interval="10000">
    <div class="row">
        <div class="col-md-8">
            <h1>Usage Past 7 Days</h1>
            <div style="height: 400px" id="l7dUsagePie"></div>
        </div>
        <div class="col-md-4">
            <table class="table table-dark usage-table">
                <thead>
                    <tr>
                        <th>Cost</th>
                        <th style="text-align:right" id="l7d-cost-total"></th>
                    </tr>
                </thead>
                <tbody id="l7d-cost"></tbody>
                <thead>
                    <tr>
                        <th>kWh</th>
                        <th style="text-align:right" id="l7d-kwh-total"></th>
                    </tr>
                </thead>
                <tbody id="l7d-kwh"></tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $.ajax({
        url: "/api/usage/by-rate",
        data: {
            start: '<%= dates["minus8d"] %>',
            end: '<%= dates["yday"] %>'
        },
        method: "GET",
        success: function (res) {
            for (let r of res.rates) {
                $('#l7d-kwh').append('<tr class="pi-data-row">><td>'
                    + r.rate_type[0].toUpperCase() + r.rate_type.substring(1) +
                    '</td><td align="right">' + r.total_kwh.toFixed(0) + '</td></tr>');
                $('#l7d-cost').append('<tr class="pi-data-row">><td>'
                    + r.rate_type[0].toUpperCase() + r.rate_type.substring(1) +
                    '</td><td align="right">£' + r.total_cost.toFixed(0) + '</td></tr>');
            }
            $('#l7d-kwh-total').html(res.totals.kwh.toFixed(0));
            $('#l7d-cost-total').html("£" + res.totals.cost.toFixed(0));
        }
    });
    loadUsagePie("l7dUsagePie", '<%= dates["minus8d"] %>', '<%= dates["yday"] %>');
</script>