<div class="row mb-3">
    <div class="col-md-12">
        <h1 class="h3 mb-2 text-gray-800">Tasks</h1>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <ul>
            <li><a href="/admin/tasks/n3rgy">N3rgy task</a></li>
            <li><a href="/admin/tasks/octopus">Octopus task</a></li>
            <li><a href="/admin/tasks/starling">Starling task</a></li>
        </ul>
    </div>
</div>