.container-fluid {
    max-width: 1500px;
    margin: 0 auto;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


@font-face {
    font-family: 'UKNumberPlate';
    src: url('/fonts/UKNumberPlate.woff');
    font-weight: normal;
    font-style: normal;
}


#logo,
#logo a {
    font-family: "Blinker", sans-serif;
    font-size: 32px;
}

.logoA,
.logoA a {
    color: #16793b !important;
    ;
}

.bolt {
    color: gold !important;
    font-size: 75%;
}

.reg-plate {
    background-color: #ffd307;
    padding: 0.25em 0.5em 0.25em 1em;
    text-transform: uppercase;
    font-size: 2.5em;
    border-radius: 5px;
    color: black !important;
    position: relative;
    font-family: "UKNumberPlate", monospace;
}

.reg-plate:before {
    content: "";
    display: block;
    width: 27px;
    height: 100%;
    background: #5eb400;
    position: absolute;
    top: 0;
    border-radius: 5px 0 0 5px;
    color: #f8d038;
    font-size: 0.5em;
    line-height: 85px;
    padding-left: 5px;
}

.material-icons {
    vertical-align: middle;
}

