<form data-form-type="login" method="post">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <input type="hidden" name="returnUrl" value="<%= returnUrl %>">
    <div class="form-floating">
        <input type="username" class="form-control" id="floatingInput" placeholder="Username" name="username" autofocus>
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
    </div>

    <!-- <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Remember me
        </label>
    </div> -->
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
</form>