<div class="row">
    <div class="col-md-6">
        <h3>Setup</h3>
    </div>
</div>
<hr>
<% if (params["tariff"] == 'false') { %>
    <div class="row">
        <div class="col-md-6">
            <h4>Set electricity costs</h4>
            <p><b><a href="/admin/add-tariff">Add a current Electricity Tariff </a></b></p>
            <p>In order to calculate your costs, you need to add details about your tariff first.</p>
            <p>You can also add historical tariffs for date ranges where you have consumption data.</p>
        </div>
        <div class="col-md-6">
            <img src="/img/tariff-setup.png">
        </div>
    </div>
    <hr>
<% } %>
<% if (params["consumption"] == 'false') { %>
    <div class="row">
        <div class="col-md-6">
            <h4>Set usage data source</h4>
            <p>You can choose one of two options:</p>
            <h5>Option 1: n3rgy</h5>
            <p>n3rgy is slightly harder to set up, but does give you in-day energy usage statistics with a delay of only a few hours.</p>
            <p>Follow the instructions to <a href="https://github.com/Electric-Sheep-Energy/home-analytics#setting-up-n3rgy">find your n3rgy API key</a>, then update the <a href="/admin/view-entity?id=1">dummy credential here</a>.</p>
            <h5>Option 2: Octopus Energy</h5>
            <p>Octopus is easier to set up but only offers data up to midnight the previous day.</p>
            <p>You will need your MPAN, Serial Number and API key, which can be found <a href="https://octopus.energy/login/?next=/dashboard/developer/">in your Octopus dashboard</a>, then update the <a href="/admin/view-entity?id=2">dummy credentials here</a>.</p>
        </div>
        <div class="col-md-6">
            <img src="/img/n3rgy-setup.png">
        </div>
    </div>
<% } %>

