<form data-form-type="login" method="post">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>

    <div class="form-floating">
        <input type="username" class="form-control" id="floatingInput" placeholder="Username" name="username">
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
</form>